<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" href="/static/img/ag-white.png?v=2">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- Grey Section -->
    <div class="top-section">

        <header class="header">

            <div class="logo-container">
                <img class="logo" src="/static/img/ag-black.png" alt="header logo">
                <h1 class="logo-text">Ascii Art Generator</h1>
            </div>

        </header>

        <div class="input-section">

            <form action="/ascii" method="GET">

                <textarea
                    class="input-box"
                    name="Input"
                    placeholder="type something here"
                >{{ .Input }}</textarea>

                <div class="banner-styles">
                            <div class="banner-styles">

                    <input id="standard" type="radio" name="banner" value="standard.txt" {{if eq .Banner "standard.txt"}}checked{{end}}>
                <label for="standard">Standard</label>

                <input id="shadow" type="radio" name="banner" value="shadow.txt" {{if eq .Banner "shadow.txt"}}checked{{end}}>
                <label for="shadow">Shadow</label>

             <input id="thinkertoy" type="radio" name="banner" value="thinkertoy.txt" {{if eq .Banner "thinkertoy.txt"}}checked{{end}}>
            <label for="thinkertoy">Thinkertoy</label>

                            </div>

                </div>

                <input class="generate-btn" type="submit" value="Generate Art">

            </form>

        </div>

    </div>

    <!-- Black Section -->
    <div class="bottom-section">

        <div class="output-section">

            <div class="output-box">

                <pre class="output-text">{{ .Output }}</pre>

            </div>

        </div>

    </div>

</body>
</html>