<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/static/img/ag-white.png?v=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img  class="logo" src="/static/img/ag-black.png" alt="header logo" >
            <h1 class="logo-text">Ascii Art Generator</h1>

        </div>

    </header>

    <div class="input-section">

        <form action="/ascii" method="POST">
            <textarea class="input-box" cols="25" rows="8" name="Input" placeholder="type something here">{{ .Input}}</textarea>
            <br>
            <div class="banner-styles">

                <label >
                    <input name="banner" value="standard.txt" type="radio" {{if eq .Banner "standard.txt" }} checked {{end}}>Standard
                </label>
        
                <label >
        
                    <input name="banner" value="shadow.txt" type="radio" {{if eq .Banner "shadow.txt" }} checked {{end}}>Shadow
                </label>
        
                <label >
        
                    <input name="banner" value="thinkertoy.txt" type="radio" {{if eq .Banner "thinkertoy.txt" }} checked {{end}}>Thinkertoy
                </label>
            </div>
            <br>
    
            <input  class="generate-btn" type="submit" value="Generate Art">
        </form>

    </div>


    <div class="output-box">
        <pre class="output-text">{{ .Output}}</pre>
    </div>
</body>
</html>