@font-face {
    font-family: "ClashDisplay";
    src: url(fonts/ClashDisplay-Variable.woff2) format("woff2");
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(fonts/SpaceGrotesk-Variable.woff2) format("woff2");
}

.header{
    font-family: "SpaceGrotesk", sans-serif;
    font-weight: bold;
}

body {
    font-family: "ClashDisplay", sans-serif;
}